h1 {
    color: white;
    text-align: center;
  }
  
body {
    background-color:skyblue;
  }  
.calculator {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#display {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 25px;
}
